![Erudio logo](../img/erudio-logo-small.png)

# Reading CSV with Standard Library

Python provides a module in its standard library for reading and writing CSV or other delimited files.  It can be tempting to create or read such files using only Python's powerful string manipulation functionality.  Indeed, the author of this tutorial has done so far more often than he wishes to admit; however, it is a mistake to eschew the `csv` module which simply deals with many edge cases that are easy to overlook in quick scripts.

Let us start out by loading a few Python standard library modules that this lesson will utilize.

In [1]:
import csv
from pprint import pprint
from collections import namedtuple
from decimal import Decimal

# Doing it Wrong

In Python, the string methods `.split()` and `.join()` do 90% of what we need to in working with CSV.  The problem is, they do not do the other 10%.  Let's try a naive approach that goes bad.

In [2]:
fields = ["Name", "Evaluation", "Rating", "Age"]
data = [
    ["Mia Johnson", "The movie was excellent", 9.5, 25],
    ["Liam Lopez", "Didn't really like it", 3.0, 35],
    ["Isabella Lee", "Wow! That was great", 8.0, 45]
]

This is unremarkable data about several movie evaluations.  Let us try to serialize it.

In [3]:
with open('data/movie.csv', 'w') as movie:
    try:
        print(",".join(fields), file=movie)
        for record in data:
            print(",".join(record), file=movie)
    except Exception as err:
        print(err)

sequence item 2: expected str instance, float found

It is easy to see what went wrong.  The `.join()` method needs only strings in the iterable argument.  We can fix that fairly easily.  Python knows how to *stringify* all its objects.

In [4]:
with open('data/movie.csv', 'w') as movie:
    try:
        print(",".join(fields), file=movie)
        for record in data:
            print(",".join(str(r) for r in record), file=movie)
    except Exception as err:
        print(err)

Success! At least for now. Perhaps we want to read it back as a list of dictionaries.

We need to read the header first to use as keys, then we can pull values from each corresponding position in later rows.

In [5]:
with open('data/movie.csv') as movie:
    newdata = []
    keys = next(movie).split(',') # Header
    for line in movie:
        newdata.append(dict(zip(keys, line.split(','))))
    
pprint(newdata)

[{'Age\n': '25\n',
  'Evaluation': 'The movie was excellent',
  'Name': 'Mia Johnson',
  'Rating': '9.5'},
 {'Age\n': '35\n',
  'Evaluation': "Didn't really like it",
  'Name': 'Liam Lopez',
  'Rating': '3.0'},
 {'Age\n': '45\n',
  'Evaluation': 'Wow! That was great',
  'Name': 'Isabella Lee',
  'Rating': '8.0'}]

We did *pretty well*.  However, the last field of header and data have a trailing newline chacter we do not really want.  We can strip that, but other problems still arise.

In [6]:
with open('data/movie.csv') as movie:
    newdata = []
    line = next(movie).rstrip()  # Header
    keys = line.split(',') 
    for line in movie:
        line = line.rstrip()
        newdata.append(dict(zip(keys, line.split(','))))
    
pprint(newdata)

[{'Age': '25',
  'Evaluation': 'The movie was excellent',
  'Name': 'Mia Johnson',
  'Rating': '9.5'},
 {'Age': '35',
  'Evaluation': "Didn't really like it",
  'Name': 'Liam Lopez',
  'Rating': '3.0'},
 {'Age': '45',
  'Evaluation': 'Wow! That was great',
  'Name': 'Isabella Lee',
  'Rating': '8.0'}]

Our ad hoc reader and writer behave well enough.  Let us add an additional record and try again.

In [7]:
new_eval = ["Olivia Gupta", "Meh, not my thing", 2.5, 55]
data.append(new_eval)

with open('data/movie.csv', 'w') as movie:
    try:
        print(",".join(fields), file=movie)
        for record in data:
            print(",".join(str(r) for r in record), file=movie)
    except Exception as err:
        print(err)

We can see that something is going to go wrong when a field can legitimately contain the delimiter.

In [9]:
%pycat data/movie.csv

Name,Evaluation,Rating,Age
Mia Johnson,The movie was excellent,9.5,25
Liam Lopez,Didn't really like it,3.0,35
Isabella Lee,Wow! That was great,8.0,45
Olivia Gupta,Meh, not my thing,2.5,55

Let's use the idential ad hoc reader to read the data on disk again.

In [10]:
with open('data/movie.csv') as movie:
    newdata = []
    line = next(movie).rstrip()
    keys = line.split(',') # Header
    for line in movie:
        line = line.rstrip()
        newdata.append(dict(zip(keys, line.split(','))))

pprint(newdata)

[{'Age': '25',
  'Evaluation': 'The movie was excellent',
  'Name': 'Mia Johnson',
  'Rating': '9.5'},
 {'Age': '35',
  'Evaluation': "Didn't really like it",
  'Name': 'Liam Lopez',
  'Rating': '3.0'},
 {'Age': '45',
  'Evaluation': 'Wow! That was great',
  'Name': 'Isabella Lee',
  'Rating': '8.0'},
 {'Age': '2.5',
  'Evaluation': 'Meh',
  'Name': 'Olivia Gupta',
  'Rating': ' not my thing'}]

As written, nothing crashed.  But we also get data in the wrong fields sometimes. Another likely problem is handling embedded newlines in strings; a few other edge cases also occur. We could complicate matters with some additional code, and eventually get it right.  But the Python standard library does that for us.

# The `csv` Module

In the basic case, using the `csv` module gives us a largely file-like interface.  It merely handles a few things that can go wrong automatically.

In [12]:
with open('data/movie.csv', 'w') as fh:
    movie = csv.writer(fh, quoting=csv.QUOTE_MINIMAL)
    for record in [fields]+data:
        movie.writerow(record)
        
%pycat data/movie.csv

Name,Evaluation,Rating,Age

Mia Johnson,The movie was excellent,9.5,25

Liam Lopez,Didn't really like it,3.0,35

Isabella Lee,Wow! That was great,8.0,45

Olivia Gupta,"Meh, not my thing",2.5,55

Reading the data back is similar, with quoting and escaping handled properly.

In [13]:
with open('data/movie.csv') as fh:
    movie = csv.reader(fh)
    for record in movie:
        print(record)

['Name', 'Evaluation', 'Rating', 'Age']
[]
['Mia Johnson', 'The movie was excellent', '9.5', '25']
[]
['Liam Lopez', "Didn't really like it", '3.0', '35']
[]
['Isabella Lee', 'Wow! That was great', '8.0', '45']
[]
['Olivia Gupta', 'Meh, not my thing', '2.5', '55']
[]

## Data Typing

Unlike some other tools, the standard library `csv` module makes little attempt to impose datatypes.  During writing, it will, of course, stringify objects that are not strings.  It usually leaves the decision of casting to other types up to the programmer.

In [15]:
with open('data/movie.csv', 'w') as fh:
    movie = csv.writer(fh, quoting=csv.QUOTE_NONNUMERIC)
    for record in [fields]+data:
        movie.writerow(record)
        
%pycat data/movie.csv

"Name","Evaluation","Rating","Age"

"Mia Johnson","The movie was excellent",9.5,25

"Liam Lopez","Didn't really like it",3.0,35

"Isabella Lee","Wow! That was great",8.0,45

"Olivia Gupta","Meh, not my thing",2.5,55

The `csv` module provides a limited option to quote all strings and to infer that anything unquoted is a number instead.  The numeric type used is always a floating point for this rule.  If you wish to read in an int, or a Decimal or Fraction, or another numeric type, you still need to write more custom code.

In [16]:
with open('data/movie.csv') as fh:
    movie = csv.reader(fh, quoting=csv.QUOTE_NONNUMERIC)
    for record in movie:
        print(record)

['Name', 'Evaluation', 'Rating', 'Age']
[]
['Mia Johnson', 'The movie was excellent', 9.5, 25.0]
[]
['Liam Lopez', "Didn't really like it", 3.0, 35.0]
[]
['Isabella Lee', 'Wow! That was great', 8.0, 45.0]
[]
['Olivia Gupta', 'Meh, not my thing', 2.5, 55.0]
[]

Probably what we really want is to specify various data types for various columns.  In the example, Age is probably meant as in integer and Rating as a fractional number.  While we are customizing, perhaps a different collection type than a list is a more descriptive way to store records.

In [18]:
# Specify special types, string by default
types = {'Age': int, 'Rating': Decimal}

with open('data/movie.csv') as fh:
    newdata = []
    # Create a descriptive record for this data
    movie = csv.reader(fh)
    fields = next(movie)
    Movie = namedtuple("Movie", fields)
    for record in movie:
        # Cast each item to its needed datatype
        if len(record) !=0:
            for pos, datum in enumerate(record):
                cast = types.get(fields[pos], str)
                record[pos] = cast(datum)
            newdata.append(Movie(*record))
        
pprint(newdata)

[Movie(Name='Mia Johnson', Evaluation='The movie was excellent', Rating=Decimal('9.5'), Age=25),
 Movie(Name='Liam Lopez', Evaluation="Didn't really like it", Rating=Decimal('3.0'), Age=35),
 Movie(Name='Isabella Lee', Evaluation='Wow! That was great', Rating=Decimal('8.0'), Age=45),
 Movie(Name='Olivia Gupta', Evaluation='Meh, not my thing', Rating=Decimal('2.5'), Age=55)]

## Records as Dictionaries

A namedtuple or a dataclass are useful Python standard library types for structured collections. The built-in standard type for doing that is a dictionary.  The `csv` module includes classes to make reading or writing dicts convenient.  These different types have pros and cons, but all are useful.  Dictionaries come with convenience classes to make similar code slightly shorter.

In [19]:
with open('data/movie.csv') as fh:
    movie = csv.DictReader(fh, quoting=csv.QUOTE_NONNUMERIC)
    for record in movie:
        print(record)

{'Name': 'Mia Johnson', 'Evaluation': 'The movie was excellent', 'Rating': 9.5, 'Age': 25.0}
{'Name': 'Liam Lopez', 'Evaluation': "Didn't really like it", 'Rating': 3.0, 'Age': 35.0}
{'Name': 'Isabella Lee', 'Evaluation': 'Wow! That was great', 'Rating': 8.0, 'Age': 45.0}
{'Name': 'Olivia Gupta', 'Evaluation': 'Meh, not my thing', 'Rating': 2.5, 'Age': 55.0}

Writing dictionaries back out to CSV is very similar.  Here we add a minor option, `newline=` in order to be able to write records with newlines in strings.  While we are doing that, let us also use a different delimiter to demonstrate that.

In [20]:
with open('data/movie.txt', 'w', newline='') as fh:
    fields = ['Name', 'Rating', 'Age']
    movie = csv.DictWriter(fh, fieldnames=fields, delimiter="|")
    movie.writeheader()
    movie.writerow({'Name': 'Mia\nJohnson', 'Rating': 9.5, 'Age': 25})
    movie.writerow({'Age': 35, 'Name': 'Liam Lopez'})
    movie.writerow({'Name': 'Isabella "Bella" Lee', 'Rating': 8.0, 'Age': 45})

%pycat data/movie.txt

Name|Rating|Age
"Mia
Johnson"|9.5|25
Liam Lopez||35
"Isabella ""Bella"" Lee"|8.0|45

Despite the slightly surprising newline inside a field, this will round-trip perfectly fine because of the quote.  The quotes inside one of the fields are also handle correctly.

In [21]:
with open('data/movie.txt', newline='') as fh:
    movie = csv.DictReader(fh, delimiter="|")
    for record in movie:
        print(record)

{'Name': 'Mia\nJohnson', 'Rating': '9.5', 'Age': '25'}
{'Name': 'Liam Lopez', 'Rating': '', 'Age': '35'}
{'Name': 'Isabella "Bella" Lee', 'Rating': '8.0', 'Age': '45'}

# Reading CSV with Pandas

If it is available in your environment, the `Pandas` package provides a versatile, flexible, and fast reader and writer of CSV and other delimited files.  Moreover, when read, delimited files are read into a flexible data structure called a DataFrame that has numerous useful methods.  The Pandas library can perform a great deal of work for data processing and data manipulation, but most of that is outside the scope of this lesson.

Let us start out by loading the Pandas library and the CSV module.  Pandas is conventionally loaded as the short name `pd`.  Similarly, `NumPy` is conventionally loaded as `np`.

In [22]:
import numpy as np
import pandas as pd
import csv

# Basic Reading

In principle, Pandas provides a huge number of options for reading CSV or other delimited files.  In fact, it has readers for a huge number of entirely different data formats as well.  In the simple case, it could hardly be simpler.  Let us look at a CSV file then read it to a DataFrame.

In [24]:
%pycat data/movie.csv

"Name","Evaluation","Rating","Age"

"Mia Johnson","The movie was excellent",9.5,25

"Liam Lopez","Didn't really like it",3.0,35

"Isabella Lee","Wow! That was great",8.0,45

"Olivia Gupta","Meh, not my thing",2.5,55

In [25]:
df = pd.read_csv("data/movie.csv")
df

           Name               Evaluation  Rating  Age
0   Mia Johnson  The movie was excellent     9.5   25
1    Liam Lopez    Didn't really like it     3.0   35
2  Isabella Lee      Wow! That was great     8.0   45
3  Olivia Gupta        Meh, not my thing     2.5   55

## Data Types

Or interest here especially is the type inference that was performed by Pandas.  Things that look like integers get converted to integers, things that look like floats get converted to floats.

In [26]:
df.dtypes

Name           object
Evaluation     object
Rating        float64
Age             int64
dtype: object

## Explicit Typing

Pandas lets you specify the types of columns explicitly, inasmuch as datatypes make sense for a given column.  For the most part, this is useful only to encode in fewer bits or to explicitly use floats where a column might be inferred as integer.

In [27]:
df = pd.read_csv("data/movie.csv", 
            dtype={'Age': np.float16, 'Rating': np.float32})
df.dtypes

Name           object
Evaluation     object
Rating        float32
Age           float16
dtype: object

## Parsing Dates

Pandas goes further than the standard library `csv` module can in also optionally parsing dates.  The next example not only has dates in an extra field, but in fact encodes the dates in multiple different formats.  If parsing a column as a date is specified, Pandas will attempt a large collection of heuristic rules to guess at what format was intended.  One of the dates given is accompanied by a particular time as well, down to a fraction of a second.

In [29]:
%pycat data/movie-date.csv

Name,Evaluation,Rating,Age,Date
Mia Johnson,The movie was excellent,9.5,25,2020-06-08
Liam Lopez,Didn't really like it,3.0,35,"June 8, 2020"
Isabella Lee,Wow! That was great,8.0,45,2020-06-07
Olivia Gupta,"Meh, not my thing",2.5,55,2020-06-06T12:12:12.1212

In [30]:
pd.read_csv('data/movie-date.csv', parse_dates=['Date'])

,Name,Evaluation,Rating,Age,Date
0,Mia Johnson,The movie was excellent,9.5,25,2020-06-08 00:00:00.000000
1,Liam Lopez,Didn't really like it,3.0,35,2020-06-08 00:00:00.000000
2,Isabella Lee,Wow! That was great,8.0,45,2020-06-07 00:00:00.000000
3,Olivia Gupta,"Meh, not my thing",2.5,55,2020-06-06 12:12:12.121200

# Format Variations

By choosing from various available parameters, the same `pd.read_csv()` function can read most delimited formats.  For example, we can read the pipe (`|`) delimited file created in the last lesson that also had embedded newlines and quotes. The special value `NaN` (Not a Number) is used to mark missing data.

In [32]:
%pycat data/movie.txt

Name|Rating|Age
"Mia
Johnson"|9.5|25
Liam Lopez||35
"Isabella ""Bella"" Lee"|8.0|45

Some of the parameters used in the below example are simply their default values. They are shown to illustrate the range of options.

In [33]:
df = pd.read_csv('data/movie.txt', 
                 sep="|", 
                 nrows=100, 
                 skip_blank_lines=True, 
                 decimal='.', 
                 quotechar='"')
df

                   Name  Rating  Age
0          Mia\nJohnson     9.5   25
1            Liam Lopez     NaN   35
2  Isabella "Bella" Lee     8.0   45

Sometimes you will encounter CSV or other delimited files without headers.  A few options can handle that.  If we do not give parameters to indicate this, the DataFrame will be confused.

In [34]:
pd.read_csv('data/movie-noheader.csv')

    Mia Johnson The movie was excellent  9.5  25
0    Liam Lopez   Didn't really like it  3.0  35
1  Isabella Lee     Wow! That was great  8.0  45
2  Olivia Gupta       Meh, not my thing  2.5  55

In [35]:
pd.read_csv('data/movie-noheader.csv', 
             names=['Person', 'Description', 'Score', 'Age'])

         Person              Description  Score  Age
0   Mia Johnson  The movie was excellent    9.5   25
1    Liam Lopez    Didn't really like it    3.0   35
2  Isabella Lee      Wow! That was great    8.0   45
3  Olivia Gupta        Meh, not my thing    2.5   55

# Exporting to CSV

Once you *have* a Pandas DataFrame, whether constructed from scratch, read from any of numerous data formats, modified and filtered using Pandas methods, or whatever, it is easy to export it to a new CSV file.  This is not as completely general purpose as the Python `csv` module in that it is only a DataFrame that can do the writing, not arbitrary arrangements of data that you have manually programmed to write as records.  However, it is extremely straightforward, and allows generally the same numerous parameters as the reader.

In [36]:
# Notice automatic compression based on extension
df.to_csv('data/movie.tsv.gz', 
          sep='\t', 
          na_rep="N/A",
          quotechar="'")

In [40]:
%%bash
zcat data/movie.tsv.gz

	Name	Rating	Age
0	'Mia
Johnson'	9.5	25
1	Liam Lopez	N/A	35
2	Isabella "Bella" Lee	8.0	45

-------------
Materials licensed under [CC BY-NC-ND 4.0](https://creativecommons.org/licenses/by-nc-nd/4.0/) by the authors